<div class="col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 card form">
  <h1 class="text-center">New Gram</h1>
  <br>
  <%= simple_form_for @gram do |f| %>
    <%= f.input :message %>
    <br>
    <%= f.input :picture %>
    <br>
    <%= f.submit "Post", class: 'action-btn' %>
  <% end %>
</div>